.button-container {
  height: 83px;
  flex: 1 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 38px;
  color: white;
  border-radius: 25px;
  border: 2px solid white;
  margin: 4px;
  cursor: pointer;
  user-select: none;
}

.operator-background {
  background-color: #00471b; 
}

.not-operator-background {
  background-color: #1b1b32;
}

.operator-background:hover{
  background-color: #ff6600;
}

.not-operator-background:hover {
  background-color: #5a01a7
}